doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#000000")
    title Главная страница | ui-taskTracker
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // header

    include ./blocks/block-header/header.pug

    // / header

    // sidebar

    include ./blocks/block-sidebar/sidebar.pug

    // main

    include ./blocks/block-main-container/container.pug

    // / main

    // footer

    include ./blocks/block-footer/footer.pug

    // / footer  