doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#000000")
    title Страница регистрации
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // block registration

    include ./blocks/block-registr/registr.pug

    // / block registration