// variables

// colors

@blue-dark: #0b3f73;
@blue: #004a9d;
@blue-light: #0054b3;

@orange-dark: #ec8c35;
@orange: #f48826;
@orange-light: #fb9539;

@black-dark: #222222;
@black: #000;
@black-light: #272727;

@gray: #a7a7a8;

@white: #fff;

// fonts

@os-regular: 'open_sansregular';

// other variables