// normalize

//@import '../styles/normalize.less';

// fonts & variables

@import '../styles/helpers/variables.less';
@import '../styles/helpers/sprite.less';
@import '../styles/fonts.css';

// SETTINGS //

// animation

a {
	transition: all 0.5s ease-in-out;
}

// body

body {
    cursor: default;
    font: 14px 'open_sansregular';
}

a {
    cursor: pointer;
}

ul {
	-webkit-padding-start: 0px !important;
	-moz-padding-start: 0px !important;
}

.no-margin {
	margin: 0 !important;
	float: none !important;
}

// container

.container {
    margin: 0 auto;
    max-width: 1200px;
}

// inputs

input[type=text], input[type=password] {
    padding: 10px;
    background: @white;
    border-radius: 4px;
    border: 0;
    outline: 0;
    border: 1px solid @blue-light;

    font: 14px @os-regular;
    color: @black;
}

// titles

h2 {
    font: 16px @os-regular;
    color: @black-dark;
}

h3 {
    font: 14px @os-regular;
    color: @black-dark;
}

// buttons

.btn-orange {
    background: @orange;
    border: 0;
    border-radius: 4px;

    font: 12px 'open_sansbold';
    color: @white;
    text-transform: uppercase;

    &:hover, &:focus {
        background: @orange-light;
    }
}

// logo

.logo {
    display: block;
    //margin: auto;
    width: 140px;
    height: 30px;
}

.low {
    color: grey;
}

.normal {
    color: orangered;
}

.hard {
    color: red;
}

.column__user-exit {
    text-decoration: underline;
}

// display none

.displayNone {
    display: none;
}

// !!! modals (display: grid - show | none - hidden)

.modal__detail-task {
    display: none !important;
}

.modal__edit-task {
    display: none !important;
}

.modal__add-task {
    display: none !important;
}