// sidebar

sidebar

	// container

	.user-cols.container

		// user panel

		.user-panel

			// title column

			h4.user-panel__title
				| Панель пользователя

			a.user-panel__user-name(href="#" title="")
				| Кузьмин Виталий Сергеевич

			a(href="#" title="")
				| Добавить задачу

			a.user-panel__user-exit(href="#" title="")
				| Завершить сеанс

		// user settings

		.user-settings

			p
				| 333