// main container

// SCRUM VIEW

.scrum-view {
    padding: 0px 20px 20px 20px;
    display: grid;
    //width: 100%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: repeat(4, 1fr);
    //grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    //justify-content: start;

    .column__body__task__description {
        display: none;
    }

}

// column

.column {
    padding: 10px;
    background: @white;
    height: auto;
}

.column__title {
    font: 16px 'open_sansregular';
    color: @black-dark;
    padding: 0 0 0 10px;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

ul.column__body {
    padding: 0;

    li {
        list-style: none;
    }

}

.column__body__task {
    margin: 10px;
    padding: 10px;

    border-radius: 4px;
    border: 1px dashed #f0f0f0;

    p {
        margin: 0;
        padding: 0;
        display: block;

        font: 14px 'open_sansregular';
        color: @black-dark;
    }

    &:hover, &:focus {
        border-color: @blue-light;
    }

}

.column__body__task__priority-title,
.column__body__task__date {
    width: auto;
    font: 12px 'open_sansregular' !important;
    margin-bottom: 10px;
}

.column__body__task__title {
    font: 16px 'open_sansregular';
    float: none !important;
    width: auto !important;
}

.column__body__task {
    ul {
        margin-top: 10px;
        margin-bottom: 30px;
        //position: absolute;
        //width: 200px;
        //height: 14px;
        //background: red;

        li a, li a:hover {
            display: block;
            float: left;
            margin-right: 16px;

            font: 12px 'open_sansregular';
            color: @black;
            text-decoration: underline;

            &:hover {
                color: @orange;
            }

        }

    }
}

.brief-view {
    padding: 0px 20px 20px 20px;
    display: grid;
    //width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    //grid-template-rows: repeat(4, 1fr);
    //grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    //justify-content: start;

    .column__body__task__description {
        display: none;
    }

}

.detail-view {
    padding: 0px 20px 20px 20px;
    display: grid;
    //width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    //grid-template-rows: repeat(4, 1fr);
    //grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    //justify-content: start;

    .column__body__task__description {
        display: block;
    }

}