// modal backgroud

.modal-bg.modal__detail-task

	// modal container

	.modal

		// button close

		a.modal__close(href="#" title="")
			img(src="../img/close.png" alt="@@")

		// priority

		p.modal__task__priority-title
			| Приоритет: 
			span.normal
				| нормальный

		// date

		.modal__task__date
			| Дата: 05.08.18

		// status

		.modal__task__status
			| Статус: В плане

		// title task

		h2.modal__title-task
			| Название задачи
		
		// description

		p.modal__description-task
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium omnis, vel in beatae aperiam temporibus exercitationem id ab, est commodi optio totam veritatis iure atque, ullam harum a quos nulla! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium omnis, vel in beatae aperiam temporibus exercitationem id ab, est commodi optio totam veritatis iure atque, ullam harum a quos nulla! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium omnis, vel in beatae aperiam temporibus exercitationem id ab, est commodi optio totam veritatis iure atque, ullam harum a quos nulla!


		

